:root{
    --primary-color:#70B64D;
    --background-color: #FBFBFB;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#2A2A35;
    --text-title-color:#828282;
    --footer__copy-bottom-color:#424249;

    --border-button-color:#d9d9d9;
    --object-hover-color:#ebebeb;

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Montserrat";
    
}
.app{
    overflow-x: hidden;
    overflow-y: hidden;
}
.text-white {
    color: #fff;
}
/* responsive */
.grid{
    margin-left: 150px;
    margin-right: 150px;
    max-width: 100%;
}
.grid2{
    margin-left: 60px;
    margin-right: 60px;
    max-width: 100%;
    
}
.grid__full--width{
    width: 100% !important;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column-6{
    width: 50%;
}
.grid__column-6:nth-child(2){
    padding: 0;
}
.style__border{
    border: none !important;
}
 
/* Button style */
.btn{
    min-width: 132px;
    text-decoration: none;
    border: none;
    border-radius: 35px;
    font-size: 15px;
    padding: 16px 32px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    font-weight:600;
}
.btn:hover{
    opacity: 0.7;
}
.height-slider-content{
    margin: 0 12px 0 12px;
    padding: 87px 0;
}
.height-slider-content {
    padding: 16px 32px;
}
.margin-right{
    margin-right: 15px;
}
.margin-left{
    margin-left: 15px;
}
.content-round-large {
    border-radius: 8px;
}
.content-border {
    border: 1px solid #DFE4EA !important;
}
/* end base  */
.header__nav{ 
    background-color: #307CFF;
    position: relative;
}
.header__navbar{
    background-color: var(--white-color);
}
.header__nav-top {
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.header__nav-item a,
.header__nav-item{
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
}
.header__nav-item:nth-child(1),
.header__nav-item:nth-child(2){
    margin-right: 50px;
}
.border-nav-top {
    height: 37px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 20px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}
.border-nav-top:hover {
    opacity: 0.8;
}
.header__nav-item img {
    object-fit: contain;
    vertical-align: text-top;
    border-style: none;
}
.header__nav-item-icon{
    margin: 0 8px;
    cursor: pointer;
}
.header__navbar-item-logo{
    width: 90px;
    max-height: 72px;
    height: auto;
    cursor: pointer;
}
.style-height-navbar{
    height: 45px;
}
.header__navbar-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 0;
}
.header__navbar-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar-item-link{
    position: relative;
    font-size: 1.4rem;
}
.header__navbar-item-link >a{
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-title-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.no-padding >a{
    padding-right: 0;
}
.header__navbar-item-link >a:hover{
    opacity: 0.8;
    transform: translateY(-1px);
}
.color-border-header{
    color: #ffdfdd;
    background-color: #ff2600;
}
.header__navbar-icon{
    margin: 0 12px;
    cursor: pointer;
   
}
.header__navbar-icon:hover{
    opacity: 0.7;
}

/* mobile menu*/
.mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.mobile-menu-btn{
    float: right;
    margin-top: 32px;
    padding: 0 8px; 
}
.menu-icon{
    color: var(--black-color);
    font-size: 24px;
    line-height: 46px;
}
.mobile-menu-btn:hover .menu-icon{
    color: #000;
}

.nav_acvite{
    display: block !important;
}
/* slider */
.slider {
    position: relative;
    width: 100%;
    height: auto;
   
}
.slider-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.slider__paragraph{
    position: absolute;
    margin-left: 60px;
    margin-right: 8px;
    width: 40%;
    top: 50%;
    transform: translateY(calc(-50%));
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.slider__img{
    max-width: 100%;
    max-width: 100%;
    opacity: 0.5;
    height: auto;
     
}
.slider__paragraph-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--black-color);
}
.slider__paragraph-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #9595A6;
    margin: 30px 0 40px 0;
}
.style-height-slider{
    height: 50px;
    /* max-width: 215px; */
}
.btn-color-slider{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.border-icon{
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

/*start container */
.content {
    margin-top: 140px;
}
.title,
.more__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    text-align:center;
}
.more__content-img {
    width: 100%;
    height: 311px;
    object-fit: contain;
}
.title h3 {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    color: var(--text-color);
} 
.title h3::after {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    border-top: 4px solid var(--primary-color);
    width: 70px;
}
.next{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.next span{
    opacity: 0.4;
}
.fa-arrow-icon {
    /* width: 24px; */
    object-fit: cover;
    vertical-align: middle;
}
.footer__link-title2 img{
    object-fit: cover;
    vertical-align: middle;
}
.more__content {
    margin-top: 70px;
}
.more__content-border {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}
.content-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    padding-left: 60px;
}
.content-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--text-title-color);
    padding: 0 60px;
} 
.bg-color {
    padding: 55px 0;
    background-color: #F2F2F2 ;
}
.dis-flex {
    display: flex;
    flex-direction: column;
}
#container2 .title h3,
#container3 .title h3,
#container4 .title h3{
    position: relative;
}
#container2 .title h3::after,
#container3 .title h3::after, 
#container4 .title h3::after  {
    content: "";
    position: absolute;
    top: -16px;
    border-top: 4px solid var(--primary-color);
    width: 70px;
}
#container2 .title h3::after {
    left: 45%;
}
#container3 .title h3::after {
    left: 47%;
}
#container4 .title h3::after {
    left: 7%;
}

.title p {
    max-width: 750px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--text-title-color);
    margin-top: 12px;
}

.content__slider {
    position: relative;
    margin: 0 135px;
    margin-top: 70px;
    padding: 50px 0 60px 0;
    background-color: var(--background-color);
    text-align: center;
}
.cotent__slider-items {
    /* position: relative; */
}
.content__btn {
    display: flex;
    justify-content: center;
}
.btn-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--white-color);
}
.content__slider h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    padding-bottom: 45px;
}
.content__slider-icon {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
}
.content__slider-img-right {
    position: absolute;
    top: 20px;
    right: 20px;
}
.content__slider-img-left {
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.content__input {
    margin: 0 355px;
}
.content__input-column-6 {
    display: flex;
}
.content-input {
    padding: 8px;
    display: block;
    border: none;
    border: 1px solid #DFE4EA;
    width: 100%
   
}
.content-height-textarea {
    height: 120px;
    padding: 10px;
}
.content__input label{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}
.content-input{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
}
.grid__column-6 p{
    margin-top: 22px;
}
.height-input-content {
    margin-top: 35px;
    width: 100%;
}
.box-driver .check-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #BDBDBD;
    margin-left: 10px;
}
.box-driver {
    margin: 0;
    margin-top: 20px;
}
.box-driver input[type=checkbox] {
    background-color: #EBEBEB;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border: 1px solid #BEBEBE;
    top: 4px;
}
.box-driver input[type=checkbox]:checked {
    border: 1px solid var(--primary-color);
    background: var(--primary-color) url(data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==) 3px 3px no-repeat;
}
#container4 .content {
    padding: 70px 0 80px 0;
    background-color: var(--background-color);
}

/* action */
.accordion{
    margin: 70px 0;
}

.collapse:not(.show) {
    display: none;
}

.accordion-button::after{
    background-image: none;
    border: none; 
    content: '>';
    font-size: 24px;
    font-weight: 500;
    color: #BDBDBD;
    transform: rotate(90deg);
}
.accordion-button:not(.collapsed)::after{
   display: block;
    background-image: none;
    content: "<";
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-color);
    
}

.accordion-item{
    position: relative;
    border: none;
    background-color: none;
    margin-top: 3px;
    transition: ease-out 0.1s;
}
.accordion-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 40px 24px 90px;
    width: 100%; 
    border: none;
    background-color: var(--white-color);
    
}
.fa-question:before {
    font-weight: 700;
    font-size: 14px;
}
h2 .accordion-button:hover{
    border: none ;
}
button.collapsed{
    background-color:var(--white-color);
}
 
.accordion-button .active:after {
    content: '\002B';
}

.accordion-body{
    font-size: 13px;
    padding: 0 40px 0 90px;
    color: var(--text-color);
    line-height: 1.5;
}

.accordion-item {
    background-color: var(--white-color);
    border: 1px solid #F2F2F2;
    border-radius: 8px;
}

.accordion-icon {
    position: absolute;
    padding: 11px 13px;
    background-color: #d9d9d9;
    color:var(--primary-color);
    top: 30px;
    left: 30px;
    border-radius: 5px;
}

/* end container */
/* footer */
.footer{
    background-color: #2A2A35;
    padding: 50px 0;
}
.footer__link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer__link-title1,
.footer__link-title2{
    list-style: none;
    padding: 8px 0;
    max-width: 300px;
}
.footer__link-title1:hover,
.footer__link-title2:hover{
    opacity: 0.8;
}

.footer__link-title1 a{
    text-decoration: none;
    font-size: 20px;
    color: var(--white-color);
    font-weight: 700;
}
.footer__link-title2 a{
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    color: var(--white-color);
}

.footer__link-column{
    list-style: none;
    padding: 0;
}
.footer__link-column:not(:first-child){
    margin-left: 10px;
}
.footer__link-title2{
    display: flex;
    align-items: center; 
}
.footer__link-title2 .footer__link-icon{
    width: 21px;
    height: 21px;
    margin-right: 18px; 
    color: var(--primary-color);
    cursor: pointer;
}
.footer__link-title2 .footer__link-phone {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: var(--primary-color);
    cursor: pointer;  
}
.text-footer {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin-right: 5px;
}
.footer__copy-bottom{
    height: 80px;
    text-align: center;
    background: var(--footer__copy-bottom-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copy-text{
    font-weight: 400;
    font-size: 13px;
}
*:focus {
    outline: 0;
    border: none;
}
.logo-mb,
.btn-slider-mb ,
.btn-container4,
.accordion-mb{
    display: none;
}
@media (max-width:1080px) {
    .mobile-menu-btn {
        display: block;
    }
    .footer .footer__link{
       flex-wrap: wrap;
    }
    .header__nav-top {
        display: block;
    }
    .nav-none{
        display: none;
        margin-right: 50px;
    }
    
    
}
@media screen and (min-width:1400px) {
    .content__input,
    .accordion {
        margin: 0 355px;
    }
}
@media screen and (max-width:1400px) {
    .content__input,
    .accordion{
        margin: 0 150px;
    }
}
@media screen and (max-width:1023px) {
    .content__input,
    .accordion{
        margin: 0 50px;
    }
    #container3 .title h3::after {
        left: 44%;
    }
    .content__input-column-6 {
       display: block;
    }
    .margin-right-mb{
        margin-right: 0;
    }
    .margin-left-mb{
        margin-left: 0;
    }
    .slider__paragraph {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    .mobile-menu-btn,
    .header__navbar-list,
    .header__navbar-item  {
        display: block;
    }
    .footer .footer__link{
       flex-wrap: wrap;
    }
    .nav-none {
        margin-right: 0;
    }
    .logo-mb,
    .btn-slider-mb ,
    .header__nav-top,
    .more__content,
    .footer .footer__link,
    .btn-container4,
    .accordion-mb {
        display: block;
    }
    .logo,
    .nav-none,
    .btn-slider,
    .accordion{
        display: none;
    }
    .slider__paragraph {
        position: inherit;
        transform: none;
        width: auto;
    }
    .slider__paragraph-heading {
        font-size: 26px;
        margin-top: 25px;
    }
    .slider__paragraph-title {
        font-size: 18px;
    }
    #container1 .title {
        text-align: inherit;
        display: block;
    }
    .next {
        margin-top: 24px;
    }
    .grid__column-6 {
        width: 100%;
    }
    .content__slider {
        margin: 0 0px;
    }
    #container2 .grid2 {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }
    .grid2,
    .slider__paragraph{
        margin-left: 30px;
        margin-right: 30px;
        max-width: 100%;
        
    }
    .title h3 {
        font-size: 32px;
    }
    .next {
        font-size: 20px;
    }
    .dis-flex {
        padding: 0 35px;
    }
    #container3 .title h3::after {
        left: 0;
    }
    #container3 .dis-flex {
        padding: 0;
        padding-right: 70px;
    }
    #container3 .title {
        text-align: inherit;
    }
    .content__input,
    .accordion{
        margin: 0 0px;
    }
    .btn-container4 {
        width: 100%;
        margin-top: 30px;
    }
    .footer__link-column:not(:first-child) {
        margin: 0;
        margin-top: 50px;
    }
    .accordion-mb .accordion-button::after,
    .accordion-mb .accordion-button:not(.collapsed)::after{
       content: "";
    }
    h2 .accordion-button:hover {
        display: block;
    }
}
@media screen and (max-width:630px){
    .header__nav-list {
      display: none;
    }
    
}